.transform-panel {
  display: flex;
  border: 1px solid #e8e8e8;
  border-radius: 4px;

  .panel {
    flex: 1;
    width: calc(50% - 26px);
    .title {
      display: flex;
      align-items: center;
      height: 28px;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
