@font-face {
  font-family: "iconfont"; /* Project id 3449774 */
  src: url('iconfont.woff2?t=1745411301411') format('woff2'),
       url('iconfont.woff?t=1745411301411') format('woff'),
       url('iconfont.ttf?t=1745411301411') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-base64:before {
  content: "\e609";
}

.icon-fullscreen:before {
  content: "\e720";
}

.icon-JsonPath:before {
  content: "\e6b6";
}

.icon-daochu:before {
  content: "\e637";
}

.icon-xiqu:before {
  content: "\e69b";
}

.icon-lianjie:before {
  content: "\e63f";
}

.icon-geshizhuanhuan:before {
  content: "\e847";
}

.icon-wenbenfenxi:before {
  content: "\e64b";
}

.icon-wenduji:before {
  content: "\e6de";
}

.icon-picturnfont:before {
  content: "\e6b1";
}

.icon-suijishengcheng:before {
  content: "\e6f6";
}

.icon-jishiqi:before {
  content: "\e642";
}

.icon-search:before {
  content: "\e946";
}

.icon-gengduo:before {
  content: "\e608";
}

.icon-markdown:before {
  content: "\e75e";
}

.icon-filter:before {
  content: "\e617";
}

.icon-jishufuwu:before {
  content: "\ebce";
}

.icon-packageDownload:before {
  content: "\e611";
}

.icon-feedback:before {
  content: "\e60d";
}

.icon-suggestion:before {
  content: "\e879";
}

.icon-transform:before {
  content: "\e64a";
}

.icon-exit:before {
  content: "\e7ed";
}

.icon-info:before {
  content: "\e7e8";
}

.icon-update:before {
  content: "\e7cb";
}

.icon-searchFile:before {
  content: "\ec4c";
}

.icon-question:before {
  content: "\e60c";
}

.icon-more:before {
  content: "\e606";
}

.icon-qrcode:before {
  content: "\e6b0";
}

.icon-export:before {
  content: "\e616";
}

.icon-import:before {
  content: "\e791";
}

.icon-download:before {
  content: "\e621";
}

.icon-website:before {
  content: "\e62d";
}

.icon-url:before {
  content: "\e64c";
}

.icon-diff:before {
  content: "\e620";
}

.icon-save:before {
  content: "\ec09";
}

.icon-delete:before {
  content: "\e626";
}

.icon-copy:before {
  content: "\e610";
}

.icon-clear:before {
  content: "\e747";
}

.icon-compress:before {
  content: "\e643";
}

.icon-code:before {
  content: "\e62f";
}

.icon-picture:before {
  content: "\e691";
}

.icon-regexp:before {
  content: "\e739";
}

.icon-checkout:before {
  content: "\e63c";
}

.icon-json:before {
  content: "\e7bd";
}

.icon-color:before {
  content: "\e678";
}

.icon-limitOfAuthority:before {
  content: "\e655";
}

.icon-close:before {
  content: "\e62b";
}

.icon-minus:before {
  content: "\e700";
}

.icon-folder:before {
  content: "\ec17";
}

.icon-unfullscreen:before {
  content: "\e8b0";
}

.icon-setting:before {
  content: "\e65d";
}

.icon-key:before {
  content: "\e683";
}

