
.download {
  text-align: center;

  a {
    display: inline-block;
    margin: 0 10px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    background: #1d2e54;
    color: #fff;
    cursor: pointer;
  }
}
